[Desktop Entry]
Name=GLTron
Comment=A game inspired by the movie TRON
Exec=gltron
Icon=gltron.png
Terminal=false
Type=Application
Categories=Application;Game;ArcadeGame;
